.eiClock {
    height: 500px;
    width: 500px;
    background-color: rgb(100, 68, 97);
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.eiClockBG {
    height: 450px;
    width: 450px;
    background-color: #1e072d;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
}

.eiClockMid {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
}

.eiPiece1 {
    position: absolute;
    top: 40px;
    left: 245px;
    transform: rotate(240deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}

.eiPiece2 {
    position: absolute;
    top: 200px;
    left: 245px;
    transform: rotate(300deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}
.eiPiece3 {
    position: absolute;
    top: 280px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(0deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}

.eiPiece4 {
    position: absolute;
    top: 200px;
    left: -25px;
    transform: rotate(60deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}

.eiPiece5 {
    position: absolute;
    top: 40px;
    left: -25px;
    transform: rotate(120deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}

.eiPiece6 {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(180deg);
    Height: 0px;
    Width: 0px;
    border-radius: 0px 0px 145px 145px;
    border-bottom: 260px solid rgb(222, 235, 249);
    border-left: 140px solid transparent;
    border-right: 140px solid transparent; 
    background-color: transparent;
    transition: all ease-in-out 0s;
}

.eiPiece1:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(240deg) scale(1.1);
}

.eiPiece2:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(300deg) scale(1.1);
}

.eiPiece3:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(0deg) scale(1.1);
}

.eiPiece4:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(60deg) scale(1.1);
}

.eiPiece5:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(120deg) scale(1.1);
}

.eiPiece6:hover {
    transition: all ease-in-out 0.5s;
    transform: rotate(180deg) scale(1.1);
}

.eiImg1 {
    position: absolute;
    top: 100px;
    left: -80px;
    width: 140px;
    height: 140px;
    transform: rotate(-240deg)

}

.sideBar{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.sideBarBG{
    height: 100%;
    width: 100%;
    background-color: rgb(32, 32, 52);
    opacity: 30%;

}

.topNameSquare {
    position: absolute;
    top: 50px;
    left: 25px;
    height: 40px;
    width: 235px;
    background-color: rgb(195, 135, 230);
    transform: rotate(355deg) skew(135deg);
    z-index: 1;
}

.bottomNameSquare {
    position: absolute;
    top: 126px;
    left: 30px;
    height: 20px;
    width: 235px;
    background-color: rgb(195, 135, 230);
    transform: rotate(359deg) skew(65deg);
    z-index: 1;
}

.midNameSquare1 {
    position: absolute;
    top: 80px;
    left: 35px;
    height: 60px;
    width: 190px;
    background-color: rgb(30, 29, 31);
    z-index: 0;
}

.midNameSquare2 {
    position: absolute;
    top: 110px;
    left: 7px;
    height: 10px;
    width: 190px;
    background-color: rgb(30, 29, 31)d;
    z-index: 0;
}

.midNameSquare3 {
    position: absolute;
    top: 47px;
    left: 180px;
    height: 95px;
    width: 80px;
    background-color: rgb(30, 29, 31);
    z-index: 0;
}

.eiName {
    position: absolute;
    top: 68px;
    left: 65px;
    color:rgb(231, 219, 243);
    -webkit-text-stroke: 1.5px #1e072d;
    font-family: "bahnschrift";
    font-weight: bold;
    font-size: 34px;
    z-index: 2;
    word-wrap: break-all;
    white-space: normal;
    width: 200px;
    text-indent: -0.8em;
    line-height: 35px;
}

.nameSquare {
    opacity: 95%;
}

.sideBarText {
    position: absolute;
    width: 95%;
    height: 70%;
    bottom: 0;
    left: 20px;
}

.effectText {
    color: rgb(0, 0, 0);
    font-family: "bahnschrift";
    font-weight: bold;
    font-size: 20px;
    word-wrap: break-all;
    white-space: normal;
}

.textBar {
    width: 80%;
    height: 3px;
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: #1e072d;
    border-radius: 20px;
}

.descText {
    color: rgb(0, 0, 0);
    font-family: "bahnschrift";
    font-size: 16px;
    word-wrap: break-all;
    white-space: normal;
}